.font-family-01{
  font-family: 'Josefin Sans', sans-serif;
}
div:focus{
outline: none;
}
#sidenav-overlay{
  z-index: 900;
}
nav ul a {
  color: #0288d1;
  &:hover{
    opacity: 0.85;
  }
}
.donate-nav-link{
  color: #fdd835;
  text-transform: uppercase;
  font-size: bold;
}
.main-carousel{
  height: 400px !important;
}
#paypal-donation{
  display: none;
}
#logo-container{
  h5{
    color: #424242;
    float: right;
    margin-top: 28px;
  }
  img{
      height: 50px;
      margin-top: 5px;
      margin-left: 10px;
  }
}

.sponsor-outer{
  max-width: 500px;
  margin:auto !important;
  img{
    max-width: 30.33%;
    margin: 10px 1.5%;
    float: left;
  }
}


.map-container {
	width: 100%;
}
.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}
