.font-family-01{
  font-family: 'Josefin Sans', sans-serif;
}


div:focus{
outline: none;
}
#sidenav-overlay{
  z-index: 900;
}
#logo-container{
  height:56px;
}
#main-logo{
  height: 40px;
  margin-top: 5px;
  margin-left: 15px;
}

#text-logo{
  height: 35px;
  margin-left: -8px;
  margin-bottom: -2px;
}
@media only screen and (max-width: 601px){
  #text-logo{
    display: none;
  }
}
nav ul a {
  color: #0288d1;
  -webkit-transition: color 0.5s; /* Safari */
  transition: color 0.5s;
  &:hover{
    color: #ff9800;
  }
}
@media only screen and (min-width: 601px){
  nav{
    height: 56px;
    line-height: 56px;
  }
  .navbar-fixed{
    height: 56px;
  }
}
.donate-nav-link{
  color: #ff9800;
  text-transform: uppercase;
  font-size: bold;
}
.main-carousel{
  height: 400px;
  background-repeat: no-repeat;
   background-position: center;
}
#paypal-donation{
  display: none;
}

.sponsor-outer{
  max-width: 400px;
  margin:auto !important;
  img{
    max-width: 30.33%;
    margin: 10px 1.5%;
    float: left;
  }
}

#what-we-do{
  margin-left: 10px;
  li{
    font-family: 'Josefin Sans', sans-serif;
    list-style-type: circle;
    font-size: 18px;
  }
}
#contact-us{
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
}
#gallery{
  img{
    width:100%;
    margin: 10px auto;
  }
}
.map-container {
	width: 100%;
}
.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}
.activity-img{
  width:100%;
  margin:auto;
}
.activity-slider{
  height: 450px !important;
}
.carousel-item h5{
  opacity: 0.8;
  margin-top: 20px;
}
.carousel-item p{
  opacity: 0.65;
  margin-top: 0px;
}
.social-links{
  position: absolute;
  top: 0px;
  background-color: rgba(0,0,0,0.6);
  height: calc(100% - 6px);
  right: 0;
  padding: 0 10px;
}
.social-links img{
  width:40px;
  margin:10px 0px;
}
.social-links a{
  display: block;
}

@media only screen and (max-width: 601px){
  .social-links img{
    width:20px;
    margin:0px;
  }
}
